*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{max-width: 100%; padding: 0; margin: 0;}
.wrap{max-width: 1024px; margin: 0 auto; padding: 0;}
.nav-link{margin: 0 25px;}
.diff{padding: 40px 0;}
